.hero {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 405px;

  h1, h2 {
    padding: 0;
    margin: 0;
  }
}

.image--bio {
  display: inline-block;
  border-radius: 50%;

  padding-bottom: 0.5em;
}

.box {  
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.coding-widget {
  color: black;
  margin: 0 auto;
  padding-top: 0em;
  h3 {
    margin: 0;
    padding: 0.3em 1em;
    font-size: 1em;
  }
}

.coding-widget--button {
  padding-top: 0.5em;
}

.about-me {
  margin: 1em;
  line-height: 1.3;
}