.hero {
  h1, h2 {
    padding: 0;
    margin: 0;
  }
}

.box {  
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.coding-widget {
  color: orangered;
  
  margin: 0 4em;
  h3 {
    margin: 0;
    padding: 0 1em;
    font-size: 1.5em;
  }
}

.about-me {
  margin: 1em;
  line-height: 1.3;
}