<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" type="image/png" href="favicon.png" />

	<title>Ian McCausland | Web Developer</title>

	<!-- build:css css/vendor.css -->
	<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
	<!-- endbuild -->

	<!-- build:css css/style.css -->
	<link href="css/app.css" rel="stylesheet">
	<!--endbuild -->
</head>

<body>
	<header class="site-main">
		<div class="container">
			<div class="row hero text-center center-content header--padding hero--expanded">
				<img class="image--bio image--bio-normal" src="img/bio.jpg" alt="biographical image">
				<div class="header--content">
					<h1 class="text--huge header-font shift-up-xxs">Ian McCausland</h1>
					<h2 class="text--small header-font">is a
						<span class="text--salient">web developer</span> from
						<span class="text--salient">Toronto</span>.
					</h2>
					<button class="nav-button button--no-style">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav--main nav-main-padding--expanded text-center text--huge container">
						<ul class="nav--list" id="portfolio--nav">
							<li class="display-block">
								<a href="/#/stats" data-route="/stats" class="text--bold">ABOUT.</a>
							</li>
							<li class="display-block">
								<a href="/#/projects" data-route="/projects" class="text--bold">PROJECTS.</a>
							</li>
							<li class="display-block">
								<a href="/#/resume" data-route="/resume" class="text--bold">RESUME.</a>
							</li>
							<li class="display-block">
								<a href="http://www.modernmythologies.net" data-route="/blog" class="text--bold">BLOG.</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<section class="section--separator" id="main-view"></section>

	<footer>
		<nav class="contact-bar">
			<div class="container">
				<div class="box">
					<ul class="nav--list contact-nav text-center text--big">
						<li>
							<a href="https://www.github.com/imccausl" id="github" data-item="Github">
								<i class="fa fa-github"></i>
							</a>
						</li>
						<li>
							<a href="https://codepen.io/imccausl/" id="codepen" data-item="Codepen">
								<i class="fa fa-codepen"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/ian-mccausland-97499040/" id="linkedin" data-item="Linked-In">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/imccausl" id="twitter" data-item="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="mailto:imccausl@gmail.com" id="envelope" data-item="Email">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section class="section-separator footer--position footer--text-size">
			<div class="text-center">
				<p class="footer--style">Copyright (C) 2017 Ian McCausland</p>
				<p class="footer--style">This site was hand-coded with mostly vanilla JavaScript and a tiny bit of jQuery in VS Code.</p>
				<p class="footer--style">It was built with webpack and gulp and hosted on GitHub pages.</p>
			</div>
		</section>
	</footer>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-103965617-1', 'auto');
		ga('send', 'pageview');
	</script>

	<!-- build:js js/site.js -->
	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbuild -->
</body>

</html>